@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@*Чтобы завершить реализацию процесса оплаты, необходимо создать представление. 
    Которое будет отображаться, когда браузер перенаправляется на действие Completed
    контроллера Order . Добавим в папку Views / Order файл представления Razor по
    имени Completed. c sh t ml*@

@*Для интеграции представления Completed в приложение никаких изменений в код
    вносить не придется, поскольку требуемые операторы уже были добавлены при
    определении метода действия Completed () в файле OrderController. cs*@

<h2>Thanks!</h2>
<p>Thanks for placing your order.</p>
<p>We'll ship your goods as soon as possible.</p>